/**
 * Created by Cubla on 16.09.2017.
 */

.centered-outer {
    position: relative;
}

.centered-inner {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}