/**
 * Created by Cubla on 16.09.2017.
 */

.reg-page {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #fff;
    user-select: none;
}

.reg-box {
    background: #fff;
    width: 341px;
    height: 200px;
}

.ui-hello-page-btn-left{
    float: left;
    width: 127px !important;
}

.ui-hello-page-btn-right{
    float: right;
    width: 127px !important;
    right: 0;
}

.page-hello-or {
    padding: 23px;
    color: #888;
    top: 10px;
    font-family: Consolas;
    position: relative;
}


.log_lay {
    height: auto;
    border: 1px solid #f7f1f1;
    box-sizing: border-box;
    width: 276px;
    margin-top: 10px;
    min-height: 30px;
    padding: 3px;
    color: #fd9a9a;
    font-family: monospace;
}

.root {
    width: 100%;
    /*display: flex;*/
    padding: 5px;
    box-sizing: border-box;
}

.root div{
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 5px;
}

/*.root div{*/
    /*flex-grow: 1;*/
    /*height: 30px;*/
    /*margin-left: 5px;*/
    /*display: inline-block;*/
    /*box-sizing: border-box;*/
/*}*/


.cp-header {
    border: 1px solid #999;
    height: 50px;
    width: 100%;
    display: flex;
}

/*.cp-content {*/
 /**/
/*}*/

.cp-map {
    border: 1px solid #777777;
    height: 600px;
    width: 100%;
    display: flex;
}

.cp-map-info {
    border: 1px solid #777777;
    height: 350px;
    width: 100%;
    display: flex;
}

.left {
    background: #666666;
}

.middle {
    flex-grow: 0 !important;
    width: 100px;
    background: #0078A8;
}

.middle2 {
    flex-grow: 0 !important;
    width: 150px;
    background: #df5555;
}

.right {
    background: #333333;
}

