/**
 * Created by Cubla on 16.09.2017.
 */

/*.page-hello-page {*/
    /*!*width: 100%;*!*/
    /*height: 100%;*/
    /*!*margin: 0px;*!*/
    /*!*padding: 0px;*!*/
    /*!*background: #fff;*!*/
    /*!*user-select: none;*!*/
/*}*/