.ui-list-map-row {
    transition: background 0.4s;
    width: 100%;
    height: 38px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 6px;
    font-family: monospace;
    font-size: 12pt;
    background: rgba(255, 255, 255, 0);
    user-select: none;
}
.ui-list-map-row:hover{
    background: #e3e3e3;
}

.ui-list-map-row-icon{
    width: 64px;
    height: 64px;
    position: relative;
    float: left;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.ui-list-map-row-name{
    width: auto;
    position: relative;
    float: left;
    padding-left: 5px;
}

.ui-chars-list-button{
    float: right;
    padding: 0px 3px !important;
}